:root {
    --dark-blue: rgb(26, 47, 65);
    --med-blue: rgb(70, 125, 138);
    --light-blue: rgb(119, 170, 169);
    --pink: rgb(237, 161, 175);
    --orange: rgb(243, 154, 94);
    --yellow: 250, 200, 130;
    --red: rgb(167, 54, 74); 
    --alpha: 0.3;
    --text-padding: 0.5rem;
    --column-padding: 0.5rem;
    --page-space: 5vw;
    --border-style: 0.3rem solid;
    --med-border-style: 0.2rem solid;
    --small-border-style: 0.1rem solid;
    --place-column-items: start start;
  }
body {
/* margin: 0;
padding: 0; */
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
line-height: 1.5;
}
.d-flex {
    border: 1px solid gold;
    height: 50px;
}
.hero-cont {
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}
.hero-col {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: .5rem 1rem 1rem  rgba(0, 0, 0, 0.2);
}