:root {
    --dark: #370031;
    --yellow: #EDFFAB;
    --rgb-yellow: 237,255,171;
    --light-blue: #98DFEA;
    --rgb-rose: 196, 151, 153;  /*  58 */
    --box-shadow-hover:  rgba(220, 214, 107, 0.376) -3px -3px 6px 1px inset, rgba(255, 253, 214, 0.832) 3px 3px 6px 0px inset;
    --box-shadow:  rgba(255, 251, 149, 0.831) 6px 2px 16px 0px, rgba(255, 253, 201, 0.8) -6px -2px 16px 0px; 
    --text-shadow-yellow:  rgba(255, 251, 149, 0.831) 6px 2px 16px , rgba(255, 253, 201, 0.8) -6px -2px 16px; 
  }
body {
/* margin: 0;
padding: 0; */
font-family: "soleil", sans-serif;
font-weight: 300;
font-style: normal;
line-height: 1.5;
}
a {
    font-family: "soleil", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1 {
    /* font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-family: "monarcha", serif;
    font-weight: 700;
    font-style: normal;
    /* color: #0B0033; */
    color: var(--dark);
}
h1 span {
    text-shadow: var(--text-shadow-yellow);
}
/* .nav-cont {
    background-color: rgba(var(--rgb-yellow), 0.9);
    box-shadow: var(--box-shadow); 
} */
.nav-cont img {
    width: 75px;
}
.hero-cont {
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}
.hero-cont h2, h1 span {
    /* font-family: "komet-sc", sans-serif;
    font-weight: 500;
    font-style: italic; */
    /* font-family: "roca", sans-serif;
    font-weight: 100;
    font-style: italic; */
    /* font-family: "roca", sans-serif;
    font-weight:  100;
    font-style: italic; */
    /* font-family: "gelica", sans-serif;
    font-weight: 300;
    font-style: italic; */
    /* font-family: "monarcha", serif;
    font-weight: 300;
    font-style: italic; */
    font-family: "soleil", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: var(--yellow);
}
.hero-cont h2 {
    color: var(--dark);
}
.button {
    /* border: 2px solid var(--yellow); */
    background-color: var(--yellow);
    box-shadow: var(--box-shadow);
    color: var(--dark); 
}

.button:hover {
    background-color: var(--yellow);
    /* border: 2px solid var(--yellow); */
    color: var(--dark);
    box-shadow: var(--box-shadow-hover);
}
.button:active {
    border: 2px solid var(--dark) !important;
    color: var(--dark) !important;
}
/* .hero-col {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: .5rem 1rem 1rem  rgba(0, 0, 0, 0.2);
} */